[submodule "dlframework"]
	path = dlframework
	url = ssh://dlwteam@vs-ssh.visualstudio.com:22/DefaultCollection/OfficeAnalytics/_ssh/dlframework
[submodule "tokenex"]
	path = tokenex
	url = ssh://dlwteam@vs-ssh.visualstudio.com:22/DefaultCollection/OfficeAnalytics/_ssh/tokenex
[submodule "grammar_server"]
	path = grammar_server
	url = ssh://dlwteam@vs-ssh.visualstudio.com:22/DefaultCollection/OfficeAnalytics/_ssh/grammar_server
