[submodule "dlframework"]
	path = dlframework
	url = ssh://dlwteam@vs-ssh.visualstudio.com:22/DefaultCollection/OfficeAnalytics/_ssh/dlframework
[submodule "tokenex"]
	path = tokenex
	url = ssh://dlwteam@vs-ssh.visualstudio.com:22/DefaultCollection/OfficeAnalytics/_ssh/tokenex
[submodule "grammar_server"]
	path = grammar_server
	url = https://dlwteam.visualstudio.com/DefaultCollection/OfficeAnalytics/_git/grammar_server
[submodule "NeuralRewriting"]
	path = NeuralRewriting
	url = ssh://msrnlp@vs-ssh.visualstudio.com:22/DefaultCollection/_ssh/NeuralRewriting
